body {
    font-family: sans-serif;
}

div.container {
    max-width: 350px;
    margin: 50px auto;
    background-color: #eee;
    border: 1px #ccc solid;
    border-radius: 10px;
}

form {
    padding: 10px;
}

fieldset {
    border: 0;
}

input, button {
    display: block;
    margin: 15px;
    font-size: 110%;
    padding: 5px;
}

